In [1]:
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(result)

Hello World

In [2]:
name = "Alice"
age = 30
print("Name: %s, Age: %d" % (name, age))

Name: Alice, Age: 30

In [3]:
name = "Bob"
age = 25
print("Name: {}, Age: {}".format(name, age))

Name: Bob, Age: 25

In [4]:
name = "Charlie"
age = 35
print(f"Name: {name}, Age: {age}")

Name: Charlie, Age: 35

In [5]:
a = 10
b = 5
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Exponentiation:", a ** b)
print("Modulus:", a % b)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Floor Division: 2
Exponentiation: 100000
Modulus: 0

In [6]:
x = 10
x -= 5
print(x)

y = 20
y *= 2
print(y)

z = 30
z /= 3
print(z)

w = 40
w **= 2
print(w)

5
40
10.0
1600