In [1]:
name = "some name"
print("Original:", name)
print("Upper:", name.upper())
print("Lower:", name.lower())
print("Capitalize:", name.capitalize())
print("Replace 'e' with 'E':", name.replace('e', 'E'))

Original: some name
Upper: SOME NAME
Lower: some name
Capitalize: Some name
Replace 'e' with 'E': somE namE

In [2]:
L = [1, 2, 3]
print("Original List:", L)
L.extend([5, 6, 7])
print("Extended List:", L)
L.pop(4)  # Remove 5th value
print("After Removing 5th Value:", L)

Original List: [1, 2, 3]
Extended List: [1, 2, 3, 5, 6, 7]
After Removing 5th Value: [1, 2, 3, 5, 7]

In [3]:
d = {'mango': 10, 'banana': 0, 'apple': 15, 'orange': 0, 'pineapple': 20}
print("Original Dictionary:", d)
d = {key: value for key, value in d.items() if value != 0}  # Remove out of stock fruits
print("Dictionary after Removing Out of Stock Fruits:", d)
d['mango'] = 15
d['pineapple'] -= 5
print("Updated Dictionary:", d)

Original Dictionary: {'mango': 10, 'banana': 0, 'apple': 15, 'orange': 0, 'pineapple': 20}
Dictionary after Removing Out of Stock Fruits: {'mango': 10, 'apple': 15, 'pineapple': 20}
Updated Dictionary: {'mango': 15, 'apple': 15, 'pineapple': 15}

In [4]:
L = [1, 2, 3, 4, 5]
print("Original List:", L)
L.pop(2)  # Remove element at index 2
print("After pop(2):", L)
L.remove(4)  # Remove the element 4
print("After remove(4):", L)

Original List: [1, 2, 3, 4, 5]
After pop(2): [1, 2, 4, 5]
After remove(4): [1, 2, 5]

In [5]:
s = {1, 2, 3, 4, 5}
print("Original Set:", s)
s.remove(3)  # Remove element 3
print("After remove(3):", s)

Original Set: {1, 2, 3, 4, 5}
After remove(3): {1, 2, 4, 5}